<div class="d-inline-flex align-items-center">
    <a href="@Link" class="item-icon col-auto" target="_blank">
        <div class="item-image" style="background-image: url('@Icon')" alt=""></div>
        <div class="item-border"></div>
    </a>
    <a href="@Link" class="ms-1 col-auto" target="_blank">@Name</a>
</div>