<div class="rz-display-inline-flex rz-align-items-center" @attributes="AdditionalAttributes">
    <a href="@WowheadLink" class="item-icon" target="_blank">
        <div class="item-image" style="background-image: url('@Icon')" alt=""></div>
        <div class="item-border"></div>
    </a>
    <RadzenLink href="@WowheadLink" class="rz-ms-1" target="_blank" Text="@Name" />
</div>