// Toggle global options
$enable-gradients: false;
$enable-shadows: false;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$form-check-input-border-radius: 0;
$navbar-padding-y: 0;
$btn-border-width: 0;
$tooltip-max-width: min(300px, 50vw);

// Import everything
@import "bootstrap/scss/bootstrap";

.clickable {
  cursor: pointer;
}

.btn.btn-with-border {
  border-width: 1px;
}

.hidden {
  display: none !important;
}
