// Toggle global options
$enable-gradients: false;
$enable-shadows: false;
$border-radius: 0;
$navbar-padding-y: 0;

// Import everything
@import "bootstrap/scss/bootstrap";

.clickable {
  cursor: pointer;
}
